<!DOCTYPE html>
<% include header%>
    <!--将头部引入-->


    <article class="post">
            <header>
                <div class="title">
                    <h2><a href="#"><%=detail[0].title%></a></h2>
                    <p><%-detail[0].summary%></p>
                </div>
                <div class="meta">
                    <time class="published" datetime="2015-10-25"><%=detail[0].postTime%></time>
                    <a href="#" class="author"><span class="name"><%=detail[0].author%></span><img src="../../img/web/avatar.jpg" alt="" /></a>
                </div>
            </header>
           
            <p class="markdown-body"><%-detail[0].content%></p>
            <footer>
                <ul class="actions">
                    <li><a href="#" class="button big">上一篇</a></li>
                </ul>
                <ul class="stats">
                    <li><a href="#">General</a></li>
                    <li><a href="#" class="icon fa-heart">28</a></li>
                    <li><a href="#" class="icon fa-comment">128</a></li>
                </ul>
            </footer>
            
        </article>


    
      
                    
        <% include footer%>
   


        <!--gittalk插件-->

        



    















            </div>

            
            </body>

            </html>