	<!-- Sidebar -->
    <section id="sidebar">

            <!-- Intro -->
                <section id="intro">
                   
                    <a href="#" class="logo"><img src="https://hansu-1253325863.cos.ap-shanghai.myqcloud.com/newblog/web/icon-img/logo.jpg" alt="" /></a>
                    <h4 class="time"></h4>
                    <header>
                        <h3>没有学不会的技术</h3><br>
                        <p><i class="fa fa-pencil" aria-hidden="true"></i><%=total%>条文章</p>
                        <p><i class="fa fa-github" aria-hidden="true"></i><a href="https://www.github.com">github</a></p>
                    </header>
                </section>


                <section id="tag" class="clearfix">


                        <h3>标签云</h3>
                        
                        <ul>
                            <li><a href="">css</a></li>
                            <li>JS</li>
                            <li>Node.js</li>
                            <li>Markdown</li>
                            <li>MongoDB</li>
                            <li>Git</li>
                            <li>Linux</li>
                        </ul>
                       </section>
               
            <!-- Mini Posts -->
                <section>
                        <h3>最近更新</h3>
                    <div class="mini-posts">
                           
                        <!-- Mini Post -->
                           

                        <% for(var i in latest){%>
                            <article class="mini-post">
                                <header>
                                    <h3><a href="./detail?id=<%=latest[i]._id%>"><%=latest[i].title%></a></h3>
                                    <time class="published" datetime="2015-10-17">October 17, 2015</time>
                                    <a href="#" class="author"><img src="../../img/web/avatar.jpg" alt="" /></a>
                                </header>
                                <a href="./detail?id=<%=latest[i]._id%>" class="image"><img src="../../upload/<%=latest[i].cover_img%>" alt="" /></a>
                            </article>
<%}%>
                    </div>
                </section>

            <!-- Posts List -->
                <section>
                        <h3>往期推荐</h3>
                    <ul class="posts">
                           
                      <%for(var i in commend){%>
                        <li>
                            <article>
                                <header>
                                    <h3><a href="./detail?id=<%=commend[i]._id%>"><%=commend[i].title%></a></h3>
                                    <time class="published" datetime="2015-10-06">October 7, 2015</time>
                                </header>
                                <a href="./detail?id=<%=commend[i]._id%>" class="image"><img src="../../upload/<%=commend[i].cover_img%>" alt="" /></a>
                            </article>
                        </li>
                        <%}%>
                    </ul>
                </section>

            <!-- About -->
                <section class="blurb">
                    <h2>关于我</h2>
                    <p>一个相信代码能够改变一切的程序员</p>
                    <ul class="actions">
                        <li><a href="#" class="button">了解更多&nbsp;<i class="fa fa-arrow-right"></i></a></li>
                    </ul>
                </section>



